---
---
@import 'normalize';

// Font Face
@font-face {
  font-family: 'Studio Sans';
  src: url('../fonts/studio-sans/studiosans-extralight-subset.woff2') format('woff2'),
       url('../fonts/studio-sans/studiosans-extralight-subset.zopfli.woff') format('woff'),
       url('../fonts/studio-sans/studiosans-extralight-subset.ttf') format('truetype');
  font-weight: 100;
  font-style: normal;
}

@font-face {
  font-family: 'Studio Sans';
  src: url('../fonts/studio-sans/studiosans-light-subset.woff2') format('woff2'),
       url('../fonts/studio-sans/studiosans-light-subset.zopfli.woff') format('woff'),
       url('../fonts/studio-sans/studiosans-light-subset.ttf') format('truetype');
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: 'Studio Sans';
  src: url('../fonts/studio-sans/studiosans-regular-subset.woff2') format('woff2'),
       url('../fonts/studio-sans/studiosans-regular-subset.zopfli.woff') format('woff'),
       url('../fonts/studio-sans/studiosans-regular-subset.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Studio Sans';
  src: url('../fonts/studio-sans/studiosans-medium-subset.woff2') format('woff2'),
       url('../fonts/studio-sans/studiosans-medium-subset.zopfli.woff') format('woff'),
       url('../fonts/studio-sans/studiosans-medium-subset.ttf') format('truetype');
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: 'Studio Sans';
  src: url('../fonts/studio-sans/studiosans-bold-subset.woff2') format('woff2'),
       url('../fonts/studio-sans/studiosans-bold-subset.zopfli.woff') format('woff'),
       url('../fonts/studio-sans/studiosans-bold-subset.ttf') format('truetype');
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: 'Studio Sans';
  src: url('../fonts/studio-sans/studiosans-extrabold-subset.woff2') format('woff2'),
       url('../fonts/studio-sans/studiosans-extrabold-subset.zopfli.woff') format('woff'),
       url('../fonts/studio-sans/studiosans-extrabold-subset.ttf') format('truetype');
  font-weight: 900;
  font-style: normal;
}

@font-face {
  font-family: 'Source Code Pro';
  src: url('../fonts/source-code-pro/SourceCodePro-Regular.ttf') format('truetype');
  font-style: normal;
}

@font-face {
  font-family: 'Solitas Serif';
  src: url('../fonts/solitas-serif/solitas-serif-regular-subset.woff2') format('woff2'),
       url('../fonts/solitas-serif/solitas-serif-regular-subset.zopfli.woff') format('woff'),
       url('../fonts/solitas-serif/solitas-serif-regular-subset.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Solitas Serif';
  src: url('../fonts/solitas-serif/solitas-serif-book-italic-subset.woff2') format('woff2'),
       url('../fonts/solitas-serif/solitas-serif-book-italic-subset.zopfli.woff') format('woff'),
       url('../fonts/solitas-serif/solitas-serif-book-italic-subset.ttf') format('truetype');
  font-weight: normal;
  font-style: italic;
}

@font-face {
  font-family: 'Solitas Serif';
  src: url('../fonts/solitas-serif/solitas-serif-bold-subset.woff2') format('woff2'),
       url('../fonts/solitas-serif/solitas-serif-bold-subset.zopfli.woff') format('woff'),
       url('../fonts/solitas-serif/solitas-serif-bold-subset.ttf') format('truetype');
  font-weight: bold;
  font-style: normal;
}

body {
  font-family: "Studio Sans", sans-serif;
  -webkit-font-smoothing: antialiased;
  max-width: 750px;
  margin: 0 auto;
  padding: 1em;
  color: #252A31;

}

header {
  text-align: center;
  margin: 0;

  h1 {
    font-size: 1.5em;
    margin: 1em 0 .15em;
    font-weight: 600;
    letter-spacing: -0.04em;
    color: #050F18;

    @media screen and (min-width: 600px) {
      font-size: 3em;
    }

    span {
      display: block;
      font-size: 1.5em;
    }
  }

  p {
    font-size: 1em;
    letter-spacing: -0.015em;
    line-height: 1.4;

    @media screen and (min-width: 600px) {
      font-size: 1.2em;
    }
  }
}

h2 {
  margin: 2.5em 0 1.25em;
  padding-top: 2em;
  font-weight: 600;
  letter-spacing: -0.03em;
  border-top: 2px solid #eee;
}

h3 {
  margin: 0;
}

article {
  background: #F7F6F6;
  border: 1px solid #E3DFDF;
  border-radius: 8px;
  padding: 1.5em;
  margin-bottom: 1em;

  a {
    color: #0c8fe2;
  }

  &:nth-child(odd) { transform: rotate(0.25deg); }
  &:nth-child(even) { transform: rotate(-0.25deg); }
}

.missed {
  margin-top: 2em;
}

p {
  color: #727D87;
  margin-bottom: 0;
  line-height: 1.4;
}

p.detail {
  font-size: 1em;
  margin-top: 2.25em;
}

footer {
  margin-top: 3em;
  text-align: center;
  font-size: .875em;
  color: #757C86;
  a { color: #757C86; }
}

.twitter,
.facebook,
.linkedin,
.whatsapp {
  color: #0c8fe2;
  display: inline-block;
  padding: 10px 10px 6px;
  background: #d6efff;
  border-radius: 8px;
  text-decoration: none;
  margin: 15px 2px 0;
  &:hover {
    background: #0c8fe2;
    color: #fff;
  }
}
