<!DOCTYPE html>
<html lang="en-US">
<head>
  <title>{{ page.title }} | {{ site.title }}</title>
  <link media="all" href="/css/screen.css" rel="stylesheet"/>
  <link rel="apple-touch-icon" href="/apple-touch-icon.png">
  <meta name="apple-mobile-web-app-capable" content="yes">
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta type="description" content="{{ site.description }}">
  <meta property="og:locale" content="en_US"/>
  <meta property="og:type" content="website"/>
  <meta property="og:title" content="{{ page.title }} | {{ site.title }}"/>
  <meta property="og:description" content="{{ site.description }}"/>
  <meta property="og:url" content="{{ site.baseurl }}/{{ page.url }}"/>
  <meta property="og:site_name" content="Who Delivers Food in the UK?"/>
  <meta name="twitter:card" content="summary"/>
  <meta name="twitter:description" content="{{ site.description }}"/>
  <meta name="twitter:title" content="{{ site.title }}"/>
  <script src="https://identity.netlify.com/v1/netlify-identity-widget.js"></script>
</head>
<body>
  {{ content }}
  <footer>
    <p>Lovingly crafted by hungry Brits on the <a href="https://fairheadcreative.com" title="Creative Web Design UK">Fairhead Creative</a> team, a creative studio for companies with a cause.</p>
    <small>This site doesn’t store cookies on your device. We don’t use any technology to identify you or track your behaviour. We don’t host advertisements on our website. While we don’t use Google Analytics, Facebook Pixels or anything else that would track visitors to our site, we do not take responsibility for the information collected by these platforms that you already have relationships with.</small>
  </footer>
  <script>
    if (window.netlifyIdentity) {
      window.netlifyIdentity.on("init", user => {
        if (!user) {
          window.netlifyIdentity.on("login", () => {
            document.location.href = "/admin/";
          });
        }
      });
    }
  </script>
  <script>
    (function(f, a, t, h, o, m){
    a[h]=a[h]||function(){
    (a[h].q=a[h].q||[]).push(arguments)
    };
    o=f.createElement('script'),
    m=f.getElementsByTagName('script')[0];
    o.async=1; o.src=t; o.id='fathom-script';
    m.parentNode.insertBefore(o,m)
    })(document, window, 'https://cdn.usefathom.com/tracker.js', 'fathom');
    fathom('set', 'siteId', 'ALVJEDKV');
    fathom('trackPageview');
  </script>
</body>
</html>
